@{
    ViewData["Title"] = "Admin Login";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
        <link rel="stylesheet" href="~/css/admin.css" />
    </head>
<body>
    <h1 class="admin-title">Admin Login</h1>

    <!-- Form for admin to login using their details -->
    <form class="admin-login-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" /><br />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" /><br />
        </div>
    </form>
    <button class="btn-admin-login" onclick="location.href='/Admin/ApproveDenyClaims'">Login</button>
</body>
</html>