@{
    ViewData["Title"] = "Admin Login";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
    </head>
    <body>
        <h1>Admin Login</h1>
        <form>
            <div>
                <lable for="username">Username:</lable>
                <input type="text" id="username" name="username" /><br />
            </div>
            <div>
                <lable for="password">Password:</lable>
                <input type="password" id="password" name="password" /><br />
            </div>

            
        </form>
        <button onclick="location.href='/Admin/ApproveDenyClaims'">Login</button>
    </body>
</html>