@using System.Linq
@model List<Shaun_Faulkner_ST10034664_PROG6212_POE.Models.Claim>

@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>Claims Dashboard</title>
</head>
<body>
    <h1 class="dashboard-title">Claims Dashboard</h1>


        <table class="claims-table">
            <thead>
                <tr>
                    <th>Lecturer Name</th>
                    <th>Email</th>
                    <th>Hours Worked</th>
                    <th>Hourly Rate</th>
                    <th>Submission Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>

        <p>No claims submitted yet.</p>

    <p>You are logged in</p>
    <a asp-controller="Lecturer" asp-action="Logout">Logout</a>


    <p class="back-to-home"><a href="/Home/Index">Back to Home</a></p>
</body>
</html>
