@{
    ViewData["Title"] = "Submit Claim";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Submit Claim</title>
        <link rel="stylesheet" href="~/css/lecturer.css" />
    </head>
    <body>
        <h1 class="submit-claim-title">Submit Claim</h1>

        <!-- Form to submit new claim with corresponding details -->
        <form class="submit-claim-form" enctype="multipart/form-data" method="post" action="/lecturer/SubmitClaim">
            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Surname">Surname:</label>
                <input type="text" id="Surname" name="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="HoursWorked">Hours Worked:</label>
                <input type="number" id="HoursWorked" name="HoursWorked" class="form-control" />
            </div>
            <div class="form-group">
                <label for="SupportingDocuments">Supporting Documents:</label>
                <input type="file" id="SupportingDocuments" name="SupportingDocuments" class="form-control" />
            </div>
        </form>

        <button class="btn-submit-claim" type="submit">Submit Claim</button>

        <!-- Button to return back to dashboard. -->
        <p class="back-to-dashboard"><a href="/Lecturer/Dashboard">Back to Dashboard</a></p>
</body>
</html>