@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome to the Contract Montly Claim System</h1>

        <form>
            <h3>Lecturer Login</h3>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" /><br />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" /><br />
            </div>

            
        </form>
        <button onclick="location.href='/Lecturer/Dashboard'">Login</button>

        <p>New here?</p>
        <a href="/Lecturer/SignUp">Sign Up Here</a>

        <button onclick="location.href='/Admin/Login'">Admin Login</button>
    </body>
</html>