@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1 class="page-title">Welcome to the Contract Monthly Claim System</h1>

    <div class="button-container">
        <!-- Button to navigate to the Lecturer Login -->
        <button class="btn-navigate" onclick="location.href='/Lecturer/LecturerLogin'">Lecturer Login</button>
        <!-- Button to navigate to the Lecturer Sign Up -->
        <button class="btn-navigate" onclick="location.href='/Lecturer/LecturerSignUp'">Lecturer Sign Up</button>
        <!-- Button to navigate to the Admin Login -->
        <button class="btn-navigate" onclick="location.href='/Admin/AdminLogin'">Admin Login</button>
        <!-- Button to navigate to the Dashboard -->
        <button class="btn-navigate" onclick="location.href='/Lecturer/Dashboard'">Dashboard</button>

        <!-- Button to navigate to Submit Claim -->
        <button class="btn-navigate" onclick="location.href='/Lecturer/SubmitClaim'">Submit Claim</button>

        <!-- Button to navigate to Approve/Deny Claims -->
        <button class="btn-navigate" onclick="location.href='/Admin/ApproveDenyClaims'">Approve/Deny Claims</button>
    </div>
</body>
</html>